# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
CMakeFiles/
.idea/
Testing/

# Vim swap files
*.swp

# Cmake files
*.cmake
CMakeCache.txt
Makefile

# Astyle files
*.orig


Kyrys_autogen/

lib/mbedTLS/mbedTLS_autogen/

src_library_autogen/6YEA5652QU/

test/kyrys_test_autogen/

src_library_autogen/

cmake

mingw32-make

CMakeCache\.txt_88ed2e2c-e14d-4221-914f-e1e9bee28582

KyrysClient_autogen/

KyrysServer_autogen/

database/
